.login-body{
	background-image: url("/assets/images/login-bg.jpg");
	color: #000000;
	font-size: 13px;
}
.form-login h2.form-login-heading {
    margin: 0;
    padding: 25px 20px;
    text-align: center;
    background: #f0ab00;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}
.login-wrap {
    padding: 20px;
}
.form-login {
    max-width: 330px;
    margin: 100px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.btn-theme {
    color: #fff;
    background-color: #008fd3;
    border-color: #48bcb4;
}

.navbar-brand {
	padding: 10px 15px!important;
}
