@media only screen and (max-width:319px) { 
	body{overflow-x: hidden;} }
@media only screen and (min-width:320px) and (max-width:360px) { 
	body{overflow-x: hidden;} }
@media only screen and (min-width:361px) and (max-width:767px) { 
	body{overflow-x: hidden;} }
@media only screen and (min-width:768px) and (max-width:1023px) { 
	.card-box{
		  min-width: 289px;
		}
 }
@media only screen and (min-width:1024px) and (max-width:1899px) { 
	.card-box{
		  min-width: 289px;
		}
 }
@media only screen and (min-width:1900px) { body{font-size:18px} }


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
  
	/*==========  Mobile First Method  ==========*/
 
	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px){
 
	}
 
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px){
 
	}
 
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px){
 		.card-box{
		  min-width: 289px;
		  width: 24%;
		}
	}
 
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px){
 		.card-box{
		  min-width: 289px;
		  width: 24%;
		}
	}
 
	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px){
 
	}
 

	/*==========  Non-Mobile First Method  ==========*/
 
	/* Large Devices, Wide Screens */
	@media only screen and (max-width : 1200px){
 
	}
 
	/* Medium Devices, Desktops */
	@media only screen and (max-width : 992px){
 
	}
 
	/* Small Devices, Tablets */
	@media only screen and (max-width : 768px){
 
	}
 
	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 480px){
 
	}
 
	/* Custom, iPhone Retina */
	@media only screen and (max-width : 320px){
 
	}