.table-bordered>thead>tr>th{
	border-bottom-width: 1px!important;
}
.pagination{
	margin-bottom: -10px;
}
.form-group{
	text-align: right;
}
@media (max-width: 767px) {
	.form-group{
		text-align: left;
		margin-bottom: 20px!important;
	}
}
@media (min-width: 768px) and (min-width: 800px) {
	.form-group{
		margin-bottom: 20px!important;
	}
}
@media (width: 1024px){
	.content-header-2 h3{
		margin-top: 35px!important;
	}
}
.form-group.frwd-msg{
	margin-bottom: 0px!important;
	text-align: left!important;
}
.modal-header{
	background-color: #ec971f;
}
.modal-header h4, .modal-header button{
	color: #fff;
	opacity: 1;
}