/*Calling fonts*/
@font-face {
    font-family:"CitrixSansLight";
    src: url('../fonts/CitrixSans-Light.eot');
    src: url('../fonts/CitrixSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CitrixSans-Light.svg#CitrixSans-Light') format('svg'),
    url('../fonts/CitrixSans-Light.woff') format('woff'),
    url('../fonts/CitrixSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family:"CitrixSansRegular";
	src: url('../fonts/CitrixSans-Regular.eot');
    src: url('../fonts/CitrixSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CitrixSans-Regular.svg#CitrixSans-Regular') format('svg'),
    url('../fonts/CitrixSans-Regular.woff') format('woff'),
    url('../fonts/CitrixSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family:"CitrixSansSemiBold";
	src: url('../fonts/CitrixSans-SemiBold.eot');
    src: url('../fonts/CitrixSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CitrixSans-SemiBold.svg#CitrixSans-SemiBold') format('svg'),
    url('../fonts/CitrixSans-SemiBold.woff') format('woff'),
    url('../fonts/CitrixSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'BrainFlower';
  src: url('../fonts/BrainFlower.eot?#iefix') format('embedded-opentype'),  url('../fonts/BrainFlower.woff') format('woff'), url('../fonts/BrainFlower.ttf')  format('truetype'), url('../fonts/BrainFlower.svg#BrainFlower') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AbadiMT-Condensed';
  src: url('../fonts/AbadiMT-Condensed.eot') format('embedded-opentype'),  url('../fonts/AbadiMT-Condensed.woff') format('woff'), url('../fonts/AbadiMT-Condensed.ttf')  format('truetype'), url('../fonts/AbadiMT-Condensed.svg#AbadiMT-Condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LaoUI';
  src: url('../fonts/LaoUI.eot?#iefix') format('embedded-opentype'),  url('../fonts/LaoUI.woff') format('woff'), url('../fonts/LaoUI.ttf')  format('truetype'), url('../fonts/LaoUI.svg#LaoUI') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'News701BT-RomanA';
  src: url('../fonts/News701BT-RomanA.eot?#iefix') format('embedded-opentype'),  url('../fonts/News701BT-RomanA.woff') format('woff'), url('../fonts/News701BT-RomanA.ttf')  format('truetype'), url('../fonts/News701BT-RomanA.svg#News701BT-RomanA') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Light';
  src: url('../fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Helvetica-Light.otf')  format('opentype'),
       url('../fonts/Helvetica-Light.woff') format('woff'), url('../fonts/Helvetica-Light.ttf')  format('truetype'), url('../fonts/Helvetica-Light.svg#Helvetica-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTPro-Bd';
  src: url('../fonts/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTPro-Bd.otf')  format('opentype'),
       url('../fonts/HelveticaNeueLTPro-Bd.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Bd.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTPro-Bd.svg#HelveticaNeueLTPro-Bd') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTPro-Md';
  src: url('../fonts/HelveticaNeueLTPro-Md.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTPro-Md.otf')  format('opentype'),
       url('../fonts/HelveticaNeueLTPro-Md.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Md.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTPro-Md.svg#HelveticaNeueLTPro-Md') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DKLemonYellowSun';
  src: url('../fonts/DKLemonYellowSun.eot?#iefix') format('embedded-opentype'),  url('../fonts/DKLemonYellowSun.otf')  format('opentype'),
       url('../fonts/DKLemonYellowSun.woff') format('woff'), url('../fonts/DKLemonYellowSun.ttf')  format('truetype'), url('../fonts/DKLemonYellowSun.svg#DKLemonYellowSun') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MyriadPro-Light';
  src: url('../fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Light.otf')  format('opentype'),
         url('../fonts/MyriadPro-Light.woff') format('woff'), url('../fonts/MyriadPro-Light.ttf')  format('truetype'), url('../fonts/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Semibold';
  src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Semibold.otf')  format('opentype'),
         url('../fonts/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro-Semibold.ttf')  format('truetype'), url('../fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Angelina';
  src: url('../fonts/Angelina.eot?#iefix') format('embedded-opentype'),  url('../fonts/Angelina.woff') format('woff'), url('../fonts/Angelina.ttf')  format('truetype'), url('../fonts/Angelina.svg#Angelina') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron-Regular';
  src: url('../fonts/Aileron-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Aileron-Regular.otf')  format('opentype'),
       url('../fonts/Aileron-Regular.woff') format('woff'), url('../fonts/Aileron-Regular.ttf')  format('truetype'), url('../fonts/Aileron-Regular.svg#Aileron-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}