.login-body{
	background-image: url("/assets/images/login-bg.jpg");
	color: #000000;
	font-size: 13px;
}
.form-login h2.form-login-heading {
    margin: 0;
    padding: 15px 20px;
    text-align: center;
    background: #f0ab00;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}
.login-wrap {
    padding: 20px;
}
.form-login {
    max-width: 330px;
    margin: 100px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.btn-theme {
    color: #fff;
    background-color: #008fd3;
    border-color: #48bcb4;
}

.navbar-brand {
	padding: 10px 15px!important;
}


/*footer*/
/*.b-top{
    border-top:3px solid #999999;
    padding-top: 10px;
}
.b-btm{
    border-bottom:3px solid #999999;
    padding-top: 10px;
}*/
.footer_ul{
    list-style: outside none none;
    display: inline-flex;
    font-size: 12px;
    padding-left:72px;
}
.footer_ul li{
    padding: 0px;
    margin-right: 8px;
}
.footer_ul li a{
    color: #fff;
}   
.footer-desk-top{
    padding: 30px 0px 0px 0px;
}
.footer_txt
{
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
}
.back_footer a
{
    color: #fff !important;
}

.back_footer a:hover
{
    color: #f0ab00 !important;
}

.back_footer a i
{
    font-size: 24px;
    position: relative;
    top: 3px;
}

.headline.gcolor{
    color: #999 !important;
    font-size: 15px;
    font-family: "BentonSans-Medium",Arial,Helvetica,sans-serif;
}
/*social icons*/

ul.footer_ul>li {
    list-style: none;
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
        margin-right: 0px!important;
}
.header_text{
    color:#FFFFFF !important;
    font-size: 16px !important;
}
.menu_ul{
    display:inline-flex !important;
    list-style-type:none !important; 
}
.menu_ul li{
    margin-right: 10px;
    padding-top: 10px;
}
        /* responsive */

/*nav bar*/


.footer_ul a{
    text-decoration: none;
}

@media(min-width: 768px) and (max-width: 1024px){
    .footer_ul {
    list-style: outside none none;
    display: inline-flex;
    font-size: 12px;
    padding-left: 0px !important;
    }
}

.footer_ul {
    list-style: outside none none;
    display: inline-block !important;
    font-size: 12px;
    padding-left: 0px;
    width: 100%;
    padding: 15px 0px 0px 0px;
}

.media_pad{
    padding-bottom: 20px !important;
}
/*Media query*/
@media only screen and (min-width:320px) and (max-width:767px) {
    .back_footer{
        padding-left: 0px;
        padding-right: 0px;
    }
    .footer_ul li{
        margin-right: 0px!important;
    }
    .footer_ul{
        text-align: center;
    }
}

.menue_footer{
    float: none;
    text-align: center;
    margin: 0 0 0 -1px;
    padding: 0;
    width: 100%;
    border-top: 1px solid #fff;
    display: flex;
    flex-flow: row wrap;
    top: 0;
    font-size: 12px !important;
}
.menue_footer .mobileLink:nth-child(2n)::after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
}
 .menue_footer .mobileLink:nth-child(2n+1) {
    border-right: 0;
    border-left: none;
}
.menue_footer .mobileLink {
    padding: 0;
    border-top: 0;
    border-bottom: 1px solid #fff;
}
.menue_footer .mobileLink {
    width: 50%;
    padding: 18px 0 12px;
    margin: 0;
    border-top: 1px solid #fff;
    display: inline-block;
    border-bottom: 1px solid #fff;
    border-top: 0;
    flex: 1 50%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}
@media only screen and (min-width:768px) and (max-width:992px) {
    .back_footer.small{
        display: none;
    }
    .footer-desk-top {
        padding: 15px 0px 0px 0px;
    }
    
}
.back_footer {
    background-color: #333!important;
    margin-top: 30px;
}
.navbar-fixed-top{
    border: none!important;
}
.ftnew {
    padding-bottom: 2px;
    max-width: 16px;
    max-height: 16px;
    /* display: block; */
    margin: 0 auto;
    background: #fff;
    padding-top: 2px;
}