@font-face
{
  font-family: BentonSans;
  src:url('../fontsbenton/BentonSans-Light.ttf');
}

@font-face
{
  font-family: BentonSansRegular;
  src:url('../fontsbenton/BentonSans-Regular.ttf');
}

@font-face
{
  font-family: BentonSansBold;
  src:url('../fontsbenton/BentonSans-Bold.ttf');
}

body
{
  font-family: BentonSans !important;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6
{
  font-family: BentonSansRegular !important;
}

/*-----------login page-----------*/
.login_header{
	background: #E8E8E8;
}

.account-wall
{
    margin-top: 20px;
	padding: 5px 20px 20px 20px;
    background-color: #636362;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
}
.account-wall h3{
	color: #9ED11E;
	padding-left: 15px;
	margin-bottom: 15px;
}
.login-help{
	color: #008fd3;
}
.account-wall .form-control{
	height: 25px;
	padding: 0px 11px;
	font-size: 12px;
	border-radius: 0px;
}
.account-wall .form-control:focus {
	border-color: #000;
	box-shadow: none;
}
.login_submit{
	background: #9ED11E;
	border-radius: 0px;
	border-color: #9ED11E;
	padding: 2px 17px;
}
.login_submit:hover{
	background: #9ED11E;
	border-radius: 0px;
	border-color: #9ED11E;
	padding: 2px 17px;
}
.login_submit:active ,.login_submit:focus{
	background: #9ED11E;
	border-radius: 0px;
	border-color: #9ED11E;
	padding: 2px 17px;
}
.get_login a{
	font-size: 12px;
}
.get_login a:focus, .get_login a:hover {
    color: #000;
    text-decoration: none;
}
/*------------end login page---------------*/
/*------------side menu start---------------*/
.nav-side-menu {
  overflow: auto;
  font-family: Aileron-Regular;
  font-size: 12px;
  font-weight: 200;
  background-color: #E8E8E8;
  position: fixed;
  top: 77px;
  min-width: 175px;
  height: 100%;
  color: #000;
}
.nav-side-menu .brand {
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  /*border-left: 3px solid #d19b3d;*/
  background-color: #F6F6F6;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  /*color: #d19b3d;*/
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  /*color: #d19b3d;*/
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #F6F6F6;
  border: none;
  line-height: 28px;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  /*border-left: 3px solid #2e353d;*/
}
.nav-side-menu li a {
  text-decoration: none;
  padding-left: 20px;
  color: #000;
  padding-right: 20px;
}

.nav-side-menu li:hover {
  /*border-left: 3px solid #d19b3d;*/
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  .content-wrapper{
    margin-left: 0px!important;
    }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
/*------------side menu end---------------*/
/*------------content header&card start---------------*/
.content-wrapper{
  margin-left: 190px;
  min-height: 250px;
      padding-top: 50px;
}
.content-header{
  margin-top: 40px;
  padding-bottom: 10px;
}
.content-header a{
  font-size: 12px;
  color: #636362;
}

.bg-white {
    background-color: #FCFCFC !important;
}
.small-box {
    border-radius: 0px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #9A999A;
}
.small-box > .inner {
    padding: 10px 10px 10px 20px;
}
.small-box > .inner h2{
  color: #9ED11E;
  font-weight: bold;
}
.small-box > .inner p{
  color: #636362;
}

.small-box:hover .icon {
    font-size: 95px;
}
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: #9ED11E;
}
.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 8px 0;
    color: #fff;
    display: block;
    z-index: 10;
    background: #636362;
    text-decoration: none;
    font-size: 14px;
}
/*------------content header&card end---------------*/
.content {
    min-height: 250px;
    padding: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.chart-sec{
    margin: 0px 0px 30px 15px;
    padding: 20px 5px 5px;
    background: #E8E8E8;
    max-width: 1127px;
    /*max-height: 475px;*/

    overflow-y: hidden;
}
.chart{
    padding-right: 0px!important;
    max-width: 830px;
}

.alt-payment-sum-block {
    background: #fff;
    padding: 10px;
}
.alt-payment-sum-block h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 25px;
    color: #9ED11E;
}
.alt-payment-sum-block .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #DDDDDD!important;
}
.tbl-payment{
    font-size: 14px;
    margin-bottom: 10px;
}
.table-summary{
    padding-left: 20px;
}


/*--------------------order list page style start----------------*/
.report_option_box .form-group{
    margin-top: 15px;
    margin-bottom: 0px;
}
.content-header-2 h3{
    font-size: 20px;
    color: #008fd3;
}
.tbl-order{
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
}
.tbl-order .form-control , .report_option_box .form-group .form-control{
    height: 28px;
    padding: 0px 10px;
    font-size: 12px;
    border-radius: 0px;
}
.tbl-dark-strip> tbody > tr:nth-of-type(2n+1) {
    background-color: #DDDDDD!important;
}
.tbl-order .form-control:focus , .report_option_box .form-group .form-control:focus{
    border-color: #3C8DBC;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 255, 255, 0.6);
}
/*--------------------order list page style end----------------*/

/*--------------------Category Page start------------------------*/
.tbl_category> tbody > tr:nth-of-type(2n+1) {
    background-color: #DDDDDD!important;
}
.frm_edit .form-control{
    border-radius: 0px;
}
.frm_edit .form-control:focus{
    border-color: #3C8DBC;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 255, 255, 0.6);
}
.btn.btn-flat {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}
/*--------------------Category Page end------------------------*/
/*---------------------create page style start--------------------*/
.frm-create{

}
.frm-create .form-control{
    height: 43px;
    padding: 0px 10px;
    font-size: 14px;
    border-radius: 0px;
}
.frm-create .form-control:focus{
    border-color: #3C8DBC;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 255, 255, 0.6);
}
/*---------------------create page style end--------------------*/

/*logout button*/
.logout_ico .fa{
   color: #fff;
    background-color: #A1C642;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    width: 25px;
    height: 25px;
    padding-top: 6px;
    margin: 0 1px;
    transition: all .5s;
} 
.menue_active{
  color: #9ED11E !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #f4f4f4;
}


.dashbors-nav{
/*  padding-left: 200px;*/
    background: #e8e8e8;
        padding-bottom: 14px;
}
/*.dashbord-nave-item{
      padding-top: 23px;
}*/
.nav-headding{
  padding-top: 22px!important;    
}
.navbar-icons li{
  font-size: 19px;
}
.navbar-icons li a{
      color: #9ed11e;
}
.error_msg{
  color: red;
  font-weight: 20px;
}

.count {
    position: absolute;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #ffffff;
    color: #9ed11e;
    font-size: 11px;
    top: 5px;
    font-weight: 400;
    line-height: 18px;
    border: none;
    text-align: center;
}

.btn-warning{
  display:inline-block;
  position:relative;
  padding:1em;
  cursor:pointer;
  background:#008fd3 !important;  color:white; 
  padding: 6px 30px !important;
  z-index:0;
  border-radius: 0px !important;
  border:none !important;
  font-size: 13px !important;
  font-weight: 700;

}



.btn-warning:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #EEA236 !important;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
  padding: 6px 15px !important;
  border-radius: 0px !important;
  border:none !important;
  font-size: 17px !important;
}
.btn-warning:hover:before, .btn-primary:hover:before
{
  transform: scaleX(1);
}

.btn-xs
{
  padding: 3px 10px !important;
  font-size: 12px !important;
}


.btn_register {
    padding: 6px 15px !important;
    font-size: 17px !important;
}
.modal-content{
  border-radius: 0px!important;
}
.modal-footer .btn+.btn {
  margin-bottom: 6px!important;
}
.bg_ban {
    background: #272727;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin-top: 50px;
    position: relative;
}

h2.ban-head
{
  color: #f8f8f8;
  margin:20px 0px;
}

.enquiry-tab
{
  cursor: pointer;
  padding: 15px 0px;
  border-bottom: 4px solid #fff;
}

#enquiry-form-div
{
  padding: 25px 20px;
}

.enquiry-tab:hover, .enquiry-tab.active-tab
{
  border-bottom: 4px solid #f0ab00;
}

center {
    display: block;
    text-align: -webkit-center;
}
.body-text {
    font-weight: normal;
    font-size: 14px;
    color: #1b1b1b;
}
.support-current{
    padding: 20px;
    background-color: #e3e3e3;
}

.thankyou_text {
    font-size: 48px;
    line-height: 78px;
    font-family: BentonSansRegular;
}
.user-reply .user-test, .admin-reply .admin-test{
  border: 1px solid #d4d4d4;
  background: #fff;
  padding: 10px 15px 5px 20px;
  border-radius: 3px;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  overflow: hidden;
}


.conv-download-btn
{
  position: absolute;
  top: -1px;
  right: -1px;
  border-top-right-radius: 7px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 7px;
}

.user-reply .user-test p, .admin-reply .admin-test p
{
    padding:0px !important;
}
.user-reply .user-time-date, .admin-reply .admin-time-date{
  padding-top: 5px;
  color: #787878;
  font-size: 12px;
  padding-left: 10px;
}
.admin-reply{
  padding-top: 10px;
  margin-bottom: 20px;
}

input[type=file]
{
  padding: 8px 10px;
  background: #f6f6f6;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  cursor: pointer;
}

input[type=file]:hover
{
  background: #ececec;
}

.user-reply
{
  margin-bottom: 30px;
}

.ticket-user-name, .ticket-admin-name
{
  display: inline-block;
  background: #008fd3;
  padding: 5px 15px;
  border-top-right-radius: 5px; 
  border-top-left-radius: 5px;
  position: relative;
  z-index: -1;
  left: 15px;
  color: #f8f8f8;
  font-size: 13px;
}

.ticket-admin-name
{
  background: #f0ab00;
}

.dropdown-menu > li > a
{
  font-size: 13px !important;
  color: #000 !important;
}

#dashboard-msgs-table .btn-warning
{
  padding: 3px 20px !important;
}

.go-back-link
{
  display: inline-block;
}

.filter-radio
{
  position: relative;
  left: 4px;
  top: 3px;
}